apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-oiaszaby
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-oiaszaby:0a5a7dc0ad836a49cf1d21629a3b424cb5faabe2@sha256:118e752fbbeb4875412de158677b766ff2eb500633105a2512858af8b9f09a7a
          name: container-image
